body[theme=default] {
    --background: #1c1c1c;
    --theme: #4CAF50;
    --text: white;
    --text-secondary: black;
}

body[theme=light] {
    --background: white;
    --theme: #4CAF50;
    --text: black;
    --text-secondary: black;
}

body[theme=orchid] {
    --background: #1c1c1c;
    --theme: #b625cc;
    --text: white;
    --text-secondary: white;
}

body[theme=sky] {
    --background: #1c1c1c;
    --theme: #0084ff;
    --text: white;
    --text-secondary: black;
}

body[theme=winter] {
    --background: linear-gradient(to right, #2377A4, #79C0D7), #79C0D7;
    --theme: #3da341;
    --text: white;
    --text-secondary: white;
}


body[theme=winter] .navbar {
    box-shadow: none;
}

body[theme=nebelung] {
    --background: #dabc9a;
    --text: black;
    --text-secondary: white;
    --theme: linear-gradient(to right, #3d2d1e, #190f05);
}

body[theme=nebelung] .nabbar {
    box-shadow: 0 5px 200px #3d2d1e;
}

body[theme=nebelung] @keyframes breathing {
  0% {
    box-shadow: 0 5px 170px var(--theme);
  }

  25% {
    box-shadow: 0 5px 200px var(--theme);
  }

  60% {
    box-shadow: 0 5px 170px var(--theme);
  }

  100% {
    box-shadow: 0 5px 170px var(--theme);
  }
}

body[theme=nebelung] @-webkit-keyframes breathing {
  0% {
    box-shadow: 0 5px 170px var(--theme);
  }

  25% {
    box-shadow: 0 5px 200px var(--theme);
  }

  60% {
    box-shadow: 0 5px 170px var(--theme);
  }

  100% {
    box-shadow: 0 5px 170px var(--theme);
  }
}
