body[theme=default] {
    --background: #1c1c1c;
    --theme: #4CAF50;
    --text: white;
    --text-secondary: black;
}

body[theme=light] {
    --background: #ffffff;
    --theme: rgb(107, 107, 107);
    --text: black;
    --text-secondary: white;
}

body[theme=orchid] {
    --background: #1c1c1c;
    --theme: #b625cc;
    --text: white;
    --text-secondary: white;
}

body[theme=sky] {
    --background: #1c1c1c;
    --theme: #0084ff;
    --text: white;
    --text-secondary: black;
}

body[theme=winter] {
    --background: linear-gradient(to right, #2377A4, #79C0D7), #79C0D7;
    --theme: #3da341;
    --text: white;
    --text-secondary: white;
}

body[theme=winter] .navbar {
    box-shadow: none;
}