* {
    font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--background);
    --background: #1c1c1c;
    --theme: #4CAF50;
    --text: white;
    --text-secondary: black;
}

.navbar {
    height: 56px;
    box-shadow: 0 5px 1000px var(--theme);
    position: sticky;
    top: 0;
}

.navitems {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 10px;
    background: var(--background);
}

.navlogo {
    height: 45px;
    border-radius: 15px;
    position: absolute;
    left: 5px;
    user-select: none;
}

.navitem {
    border-radius: 40px;
    padding: 10px 8px;
    font-size: 15px;
    background: var(--theme);
    cursor: pointer;
    user-select: none;
    color: var(--text-secondary);
}

.title {
    font-size: 3em;
    color: var(--text);
    text-align: center;
    margin-top: 180px;
    font-weight: bold;
    margin-top: 10rem;
}

.message {
    text-align: center;
    color: var(--text);
    font-size: 1.5rem;
    margin: 1rem;
}

.play {
    height: 30px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--theme);
    font-size: 1rem;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10rem;
    user-select: none;
    border: none;
}

a {
    text-decoration: none;
}

footer {
    color: var(--text);
    text-align: center;
    margin-top: auto;
    margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--theme);
}

::-webkit-scrollbar {
    width: 10px;
}