body {
    --background: #1c1c1c;
    --theme: #4CAF50;
    --text: white;
    --text-secondary: black;
}

body[theme=orchid] {
    --background: #1c1c1c;
    --theme: #b625cc;
    --text: white;
    --text-secondary: white;
}